= form_for @tags_client_question do |f|
  -if @tags_client_question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tags_client_question.errors.count, "error")} prohibited this tags_client_question from being saved:"
      %ul
        - @tags_client_question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tag_id
    = f.number_field :tag_id
  .field
    = f.label :client_question_id
    = f.number_field :client_question_id
  .actions
    = f.submit 'Save'
