%h1 Listing tags_client_questions

%table
  %tr
    %th Tag
    %th Client question
    %th
    %th
    %th

  - @tags_client_questions.each do |tags_client_question|
    %tr
      %td= tags_client_question.tag_id
      %td= tags_client_question.client_question_id
      %td= link_to 'Show', tags_client_question
      %td= link_to 'Edit', edit_tags_client_question_path(tags_client_question)
      %td= link_to 'Destroy', tags_client_question, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tags client question', new_tags_client_question_path
