%h1 Listing client_questions

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @client_questions.each do |client_question|
    %tr
      %td= client_question.title
      %td= link_to 'Show', client_question
      %td= link_to 'Edit', edit_client_question_path(client_question)
      %td= link_to 'Destroy', client_question, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Client question', new_client_question_path
