#main
  %table
    - @jobs.each do |job|
      %tr
        %td= job.tag.title.description
        %td
          = form_tag({:action => 'new', :controller => 'orders'},{:method => 'get'}) do
            = hidden_field_tag :job, job.id
            - if current_user != job.professional
              = submit_tag 'Order Now'
            - else
              = submit_tag 'Order Now', :disabled => true