%p#notice= notice

%p
  %b Tag:
  = @tag_q_relation.tag_id
%p
  %b Question:
  = @tag_q_relation.question_id

= link_to 'Edit', edit_tag_q_relation_path(@tag_q_relation)
\|
= link_to 'Back', tag_q_relations_path
